node_modules
.idea
tmp
admin-config/i18n/*/flat.txt
admin-config/i18n/flat.txt
_admin
iob_npm.dode
/nbproject
/src/blockly
/src/package-lock.json
package-lock.json
/src/.eslintcache


# ioBroker dev-server
.dev-server/
/src/dist
