$colorFons: #81688c; //

.wrapper_rules {
    background: url("https://klike.net/uploads/posts/2020-04/1586763579_24.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    * {
        color: white;
    }
    .main_block_item_rules:nth-child(3) {
        border-left: 1px solid #ffffff59;
        border-right: 1px solid #ffffff59;
    }
}
.menu_rules {
    // background: green;
    width: 200px;
    height: 100%;
    background: #994e9e30;
    border-right: 1px solid #9a39a063;
    padding: 10px;
    opacity: 1;
    transition: width 0.5s, opacity 0.2s, padding 0.5s;
}
.menu_off {
    width: 0px;
    opacity: 0;
    padding: 0;
}
.menu_title {
    display: flex;
    align-items: center;
    text-align: center;
    color: $colorFons;
    &::after,
    &::before {
        content: "";
        flex: 1;
        border-bottom: 1px solid;
    }
    &::after {
        margin-left: 0.25em;
    }
    &::before {
        margin-right: 0.25em;
    }
}
.icon_them {
    width: 30px !important;
    height: 30px !important;
    margin-left: 5px;
    * {
        color: #dfbdec !important;
    }
}
.input_width {
    margin-top: 20px !important;
    margin-bottom: 15px !important;
}
.hamburger_wrapper {
    position: absolute;
    width: 40px;
    height: 28px;
    background: #994e9e7d;
    border-radius: 0px 20px 20px 0;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    left: 221px;
    top: 30px;
    border: 1px solid #9a39a063;
    cursor: pointer;
    transition: left 0.5s, border-radius 0.7s;
    z-index: 10;
}
.hamburger_off {
    left: 20px;
    border-radius: 20px;
}
.nothing_found {
    color: #a95fa3;
    margin: 16px;
    font-size: 21px;
}
.reset_search {
    font-weight: bold;
    color: #210025;
    cursor: pointer;
    margin: 10px 0;
    transition: color 0.3s, font-size 0.3s;
    &:hover {
        color: #36083c;
        font-size: 22px;
    }
}
