$colorFons: #81688c; //

.wrapperRules {
    background: url("https://klike.net/uploads/posts/2020-04/1586763579_24.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    .mainBlockItemRules:nth-child(3) {
        border-left: 1px solid #ffffff59;
        border-right: 1px solid #ffffff59;
    }
}
.menuRules {
    width: 200px;
    // height: 100%;
    display: flex;
    flex-direction: column;
    background: #994e9e30;
    border-right: 1px solid #9a39a063;
    padding: 10px;
    opacity: 1;
    transition: width 0.5s, opacity 0.2s, padding 0.5s;
}
.switchesRenderWrapper{
    overflow-x: hidden;
    overflow-y: auto;
    direction:rtl;
    span{
        direction:ltr;
    }
}
.menuOff {
    width: 0px;
    opacity: 0;
    padding: 0;
}
.menuTitle {
    display: flex;
    align-items: center;
    text-align: center;
    color: $colorFons;
    white-space: nowrap;
    &::after,
    &::before {
        content: "";
        flex: 1;
        border-bottom: 1px solid;
    }
    &::after {
        margin-left: 0.25em;
    }
    &::before {
        margin-right: 0.25em;
    }
}
.iconThem {
    width: 30px !important;
    height: 30px !important;
    margin-left: 5px;
    * {
        color: #dfbdec !important;
    }
}
.inputWidth {
    margin-top: 20px !important;
    margin-bottom: 15px !important;
}
.hamburgerWrapper {
    position: absolute;
    width: 40px;
    height: 28px;
    background: #994e9e7d;
    border-radius: 0px 20px 20px 0;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    left: 221px;
    top: 30px;
    border: 1px solid #9a39a063;
    cursor: pointer;
    transition: left 0.5s, border-radius 0.7s;
    z-index: 10;
}
.hamburgerOff {
    left: 20px;
    border-radius: 20px;
}
.nothingFound {
    color: #a95fa3;
    margin: 16px;
    font-size: 21px;
}
.resetSearch {
    font-weight: bold;
    color: #210025;
    cursor: pointer;
    margin: 10px 0;
    transition: color 0.3s, font-size 0.3s;
    &:hover {
        color: #36083c;
        font-size: 22px;
    }
}
.controlPanel {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    width: 200px;
    button{
        width: calc(100%/3);
        min-width: auto;
        color: #dfbdec;
    }
    .controlPanelAppBar{
        background: none;
        box-shadow: none;
    }
    [class*="Mui-selected"] {
        color: #ef00ffab !important;
    }
    [class*="MuiTabs-indicator"] {
        background-color: #ef00ffab;
    }
    [class*="Mui-disabled"] {
        color: #210025cc !important;
    }
}
.hintContent {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 7px 0;
}
.hintSquare {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
