.wrapperRules {
    background: linear-gradient(0deg, var(--backgroundGlobalColor), var(--backgroundGlobalColor)), url("../assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
}
.rootWrapper {
    display: flex;
    width: 100%;
}
.addClass {
    flex-direction: column;
    height: auto;
    overflow: auto;
}
@media screen and (max-width: 835px) {
    .rootWrapper {
        flex-direction: column;
        height: auto;
        overflow: auto;
    }
}
