.root {
    color: var(--lineColorActive) !important;
    height: 8px !important;
    [class*="MuiSlider-rail"] {
        height: 8px !important;
        border-radius: 4px;
    }
    [class*="MuiSlider-track"] {
        height: 8px !important;
        border-radius: 4px;
    }
    [class*="MuiSlider-valueLabel"] {
        left: calc(-50% + 4px);
    }
    [class*="MuiSlider-thumb"] {
        height: 24px;
        width: 24px;
        background-color: var(--colorBlock);
        border: 2px solid currentColor;
        margin-top: -8px;
        margin-left: -12px;
        &:focus,
        &:hover,
        &[class*="MuiSlider-active"] {
            box-shadow: inherit !important;
        }
    }
    .mark {
        background-color: #00000000 !important;
    }
}

