@require "constants.styl"

.cron-builder
    display inline-block
    min-height 200px
    background-color $blue
    padding 15px
    color $darkGrey
    font-size 14px

    &__fieldset
        border-color $darkBlue
        border-style solid

    &__legend
        padding 0 5px

    &__tab
        height 36px
        font-weight bold
        color inherit
        border none
        margin .5px
        background-image $button-bg
        cursor pointer
        padding 5px 7px 5px 7px

        &:hover:not(&--active)
            background-image linear-gradient(to bottom, $white, $grey100)

        &--active
            background-color $grey
            background-image none
            cursor default

    &__preset
        min-height 100px
        display flex
        align-items flex-end
        margin-bottom 40px
        margin-top 20px

    &__input
        margin-right 5px
        max-width 400px

    &__row
        display flex

        &--main
            margin-top 5px

        &--hours-range
            width 300px
            justify-content center

        &--inline
            display inline-flex

        &--items-end
            align-items flex-end

    &__label
        color $white
        margin-bottom 3px
        display block

    &__link
        color $white
        cursor pointer
        right 0
        margin-top 3px
        margin-right 5px

        &:hover
            text-decoration underline

    &__action
        margin 15px auto
        height 40px
        background-image $button-bg
        border none

    &__result
        background-color $black
        color $white
        height 40px
        display flex
        align-items center
        justify-content center
        font-weight bold

    &__hr
        border none
        border-top 1px dashed $white

    &__pretty-expression
        color $white
        margin-top 20px
        margin-bottom 5px
        font-weight bold
        font-size 14px
        max-width 550px