.root {
    * {
        color: var(--colorBlock) !important;
    }
    [class*="Mui-checked"] {
        color: var(--lineColor) !important;
    }
    [class*="Mui-checked"] + [class*="MuiSwitch-track"] {
        background-color: var(--lineColor) !important;
    }
}
