.cardStyle {
    cursor: pointer;
    position: relative;
    min-width: 200px;
    width: calc(100% - 70px);
    height: fit-content;
    min-height: 70px;
    display: flex;
    padding: 10px;
    margin: 23px 12px 4px 12px;
    align-items: center;
    background: #ffffff6b;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.cardStyleActive{
    width: 300px;
    z-index: 100;
}
.controlMenu {
    display: flex;
    position: absolute;
    right: -31px;
    width: 30px;
    height: 100%;
    transition: opacity 0.5s;
}
.closeBtn {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    margin: 5px auto;
    cursor: pointer;
    &:before {
        content: "+";
        color: #f7060684;
        position: absolute;
        z-index: 2;
        transform: rotate(45deg);
        font-size: 30px;
        line-height: 1;
        top: -6px;
        left: 2px;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: var(--backgroundColorHumburger);
        z-index: 1;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
        transform: scale(0.01);
    }
    &:hover:after {
        transform: scale(1);
    }
    &:hover:before {
        transform: scale(0.8) rotate(45deg);
        color: #fff;
    }
}
.isDelete{
    height: 0px;
    min-height: 0px;
    overflow: hidden;
    padding: 0 10px;
    margin: 0px 12px 0px 12px;
    transition: all 0.25s;
    background: rgb(255, 255, 255);
    opacity: 0.8;
    box-shadow: 0 0 10px rgb(106 204 255);
}