.wrapper_close_item {
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 1;
}
.wrapper_close_item:before {
    content: '+';
    color: #7d0202;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 90px;
}