$colorFons: #81688c; //

.border {
    border-left: 1px solid #ffffff59;
    border-right: 1px solid #ffffff59;
}
.emptyBlock {
    cursor: pointer;
    width: 200px;
    height: 76px;
    background: #ffffff1f;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    align-items: center;
    border-radius: 4px;
}
.mainBlockItemRules {
    display: flex;
    flex: 1 3;
    flex-direction: column;
    transition: all 0.5s;
    z-index: 9;
    // background: white;
    .nameBlockItems {
        color: #b9a0c3;
        margin-top: 10px;
        width: 100%;
        display: flex;
        height: fit-content;
        justify-content: center;
    }
}
.contentBlockItem {
    height: 100%;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    transition: height 0.3s, background 0.5s;
}
.contentHeightOff {
    height: 0;
    overflow: hidden;
}
.cardAdd {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    width: 100%;
    color: $colorFons;
    &::after,
    &::before {
        content: "";
        flex: 1;
        border-bottom: 1px solid;
    }
    &::after {
        margin-left: 0.25em;
    }
    &::before {
        margin-right: 0.25em;
    }
}
.blockCardAdd {
    display: flex;
    padding: 0 10px 6px 10px;
    align-items: center;
    color: white;
    cursor: pointer;
    * {
        color: #ffffffb3;
    }
}
