$colorFons: #81688c; //

.border {
    border-left: 1px solid #ffffff59;
    border-right: 1px solid #ffffff59;
}
.emptyBlockStyle {
    cursor: pointer;
    width: auto;
    background: #ffffff1f;
    display: flex;
    // padding: 10px;
    margin: 10px;
    margin-right: 40px;
    align-items: center;
    border-radius: 4px;
    // transition: height 0.2s;
}
.emptyBlock {
    padding: 10px;
    // height: 76px;
    margin-top: 10px;
    animation: marginTop 0.12s;
    // transition: margin-top 0.1s;
}
@keyframes marginTop {
    0% {
        padding: 0px;
        margin-top: 70px;
        height: 0px;
    }
    100% {
        padding: 10px;
        margin-top: 10px;
        // height: 100%;
    }
}
.emptyBlockNone {
    height: 0px;
    animation: none;
    transition: height 0.02s;
}

.mainBlockItemRules {
    display: flex;
    flex: 1 3;
    flex-direction: column;
    transition: all 0.5s;
    z-index: 9;
    .nameBlockItems {
        color: #b9a0c3;
        margin-top: 10px;
        width: 100%;
        display: flex;
        height: fit-content;
        justify-content: center;
    }
}
.contentBlockItem {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: height 0.3s, background 0.5s;
}

.wrapperMargin {
    margin: auto 0;
    display: flex;
    flex-direction: column;
}
.contentHeightOn {
    animation: heightBlock 0.3s;
}
@keyframes heightBlock {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
.contentHeightOff {
    height: 0;
    overflow: hidden;    
    animation: none;
}
.cardAdd {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    width: 100%;
    color: $colorFons;
    &::after,
    &::before {
        content: "";
        flex: 1;
        border-bottom: 1px solid;
    }
    &::after {
        margin-left: 0.25em;
    }
    &::before {
        margin-right: 0.25em;
    }
}
.blockCardAdd {
    display: flex;
    padding: 0 10px 6px 10px;
    align-items: center;
    color: white;
    cursor: pointer;
    * {
        color: #ffffffb3;
    }
}
