@import "../../helpers/stylesVariables.scss";

.root {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    * {
        color: $colorBlock !important;
    }
    [class*="MuiInputLabel-shrink"] {
        color: $colorBlock !important;
    }
    [class*="MuiInput-underline"] {
        &:after {
            border-bottom-color: $lineColor !important;
        }
        &:before {
            border-bottom-color: $lineColor !important;
        }
        &:hover {
            &:before {
                border-bottom-color: $lineColor !important;
            }
        }
    }
}
