$themeStandard: (
    --backgroundColor: #3052813b,
    --lineColor: #4caaf47d,
    --lineColorHover: #ccceff,
    --lineColorActive: #4caaf4,
    --backgroundColorHumburger: #436a93b8,
    --colorBlock: #02124b,
    --colorBlockHover: #02124b8c,
    --colorInput: #02124b,
    --backgroundBlock: #c9e7ffab,
    --backgroundGlobalColor: #ffffff00,
    --backgroundMobile: #041c35d4,
    --debugColor: #c6511b
);
$themeGreen: (
    --backgroundColor: #3081333b,
    --lineColor: #4cf4577d,
    --lineColorHover: #cdffcc,
    --lineColorActive: #4ff44c,
    --backgroundColorHumburger: #439346b8,
    --colorBlock: #024b04,
    --colorBlockHover: #024b048c,
    --colorInput: #024b04,
    --backgroundBlock: #c9ffcfab,
    --backgroundGlobalColor: #51ff001b,
    --backgroundMobile: #3081333b,
    --debugColor: #c6511b
);
$themeSilver: (
    --backgroundColor: rgba(31, 31, 31, 0.23),
    --lineColor: #f3f3f37d,
    --lineColorHover: #a0a0a0,
    --lineColorActive: #dedede,
    --backgroundColorHumburger: #3e3e3eb8,
    --colorBlock: #080808,
    --colorBlockHover: #0808088c,
    --colorInput: #ddd,
    --backgroundBlock: #c1c1c1ab,
    --backgroundGlobalColor: rgba(28, 28, 28, 0.93),
    --backgroundMobile: #040303eb,
    --debugColor: #c6511b
);
$themeLight: (
    --backgroundColor: #3131313b,
    --lineColor: #0001257d,
    --lineColorHover: #a0a0a0,
    --lineColorActive: #07002f,
    --backgroundColorHumburger: #333542a3,
    --colorBlock: #090929,
    --colorBlockHover: #c7c6c68c,
    --colorInput: #090929,
    --backgroundBlock: #000000,
    --backgroundGlobalColor: #ffffff40,
    --backgroundMobile: #b4b2c7bf,
    --debugColor: #c6511b
);
@mixin spread-map($map: ()) {
    @each $key, $value in $map {
        #{$key}: $value;
    }
}
:root.blue {
    @include spread-map($themeStandard);
}
:root.colored {
    @include spread-map($themeStandard);
}
:root.dark {
    @include spread-map($themeSilver);
}
:root.light {
    @include spread-map($themeLight);
}